{require_otp_vsn, "R14B0[234]|R15|R16|17"}.

{cover_enabled, true}.

{lib_dirs, ["apps"]}.

{erl_opts, [debug_info, warnings_as_errors, {parse_transform, lager_transform}, {d, new_hash, true}]}.

{reset_after_eunit, true}.

{deps, [
        {lager, "2.0.3", {git, "git://github.com/basho/lager", {tag, "2.0.3"}}}
       ]}.
